@tailwind base;
@tailwind components;
@tailwind utilities;

body , input , textarea , button {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

body {
  background-color: #121214;
  color: #fff;
}

input[type="text"][list]::-webkit-calendar-picker-indicator {
  display: none !important;
}

input[list]::-ms-expand {
  display: none !important;
}